{% load static %}
<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
      class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
      <div class="container-fluid px-0">
        {% if user.profile.image %}
        <a class="nav-item nav-link" href="#">
          <img class="rounded-circle" style="height: 20px; width: 20px;" src="{{user.profile.image.url}}" alt="">
        </a>
        {% else %}
        <img src="{% static 'img/avatar-1.jpg' %}" style="height: 20px; width: 20px;" class="navigation-img rounded-circle" />
        {% endif %}
        <a class="navbar-brand font-weight-bolder ms-sm-3"
        href="/" rel="tooltip"
        title="Intelligentafrica brand-name" data-placement="bottom">
        Intelligentafrica
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
      data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="{% url 'room-enroll' %}">
            <i class="fas fa-message opacity-6 me-1"></i>
            Classes
          </a>
        </li>
        <li class="nav-item">
           <a class="nav-link me-2" href="{% url 'contact-us' %}">
          <i class="fas fa-phone opacity-6 me-1"></i>
          contact-us
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="{% url 'about-us' %}">
         <i class="fas fa-info opacity-6 me-1"></i>
         about-us
       </a>
      </li>
       
       
        {% if user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link me-2" href="{% url 'profile-detail-view' user.id %}">
         <i class="fas fa-user opacity-6 me-1"></i>
         Profile
       </a>
        {% else %}
        <li class="nav-item">
          <a class="nav-link me-2" href="{% url 'login' %}">
            <i class="fas fa-key opacity-6 me-1"></i>
            Sign In
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
</div>
</div>
</div>