@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
:root {
  --primary-color:ghostwhite;
  --secondary-color: #444444 ;
  --tertiary-color: #d7a806;
  --text-color:rgba(255, 255, 255, 0.836);
  --black-color:#000;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  background: var(--primary-color);
  color: #333333;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: turquoise;
    transition: -webkit-transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
    /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: var(--purple);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.content-section {
  width: 100%;
  background: var(--primary-color);
  border-radius: 9px;
  padding: 8px;
}

ul {
  margin: 0;
}

.bg-steel {
  background: var(--tertiary-color);
  /* box-shadow: 0 0 6px rgba(0,0,0,0.3); */
}

.site-header .navbar-nav .nav-link {
  color: var(--primary-color);
  font-family: 'Poppins';
  font-weight: 100;
  margin: 0px 6px;
  font-size: 15px;
  letter-spacing: 1px;
}

.site-header .navbar-nav .nav-link:visited {
  color: var(--text-color);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--text-color);
}

.site-header .navbar-nav .nav-link:active {
  color: var(--text-color);
}

.article-title {
  color: var(--secondary-color);
  font-family: 'poppins';
  font-weight: 600;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--primary-color);
}

.article-metadata a:hover {
  color: var(--black-color);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 170px;
  width: 170px;
  margin: 20px;
  padding: 5px;
  margin-bottom: 0px;
  -webkit-transform: translate(-20px, 0px);
          transform: translate(-20px, 0px);
  border: 5px solid #ebebeb;
}

.online-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #07dd00;
  border: 3px solid white;
  bottom: 0;
  right: 10px;
  position: absolute;
}

.offline-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #6e6e6e;
  border: 3px solid white;
  bottom: 0;
  right: 10px;
  position: absolute;
}

.img-cont {
  height: 170px;
  width: 170px;
  position: relative;
}

.img-cont2 {
  height: 55px;
  width: 55px;
  position: relative;
}

.img-cont3 {
  height: 78px;
  width: 78px;
  position: relative;
}

.online-circle3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #07dd00;
  border: 3px solid white;
  bottom: -16px;
  right: 2px;
  position: absolute;
}

.offline-circle3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #6e6e6e;
  border: 3px solid white;
  bottom: -16px;
  right: 2px;
  position: absolute;
}

.online-circle2 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #07dd00;
  border: 3px solid white;
  bottom: 0;
  right: 6px;
  position: absolute;
}

.offline-circle2 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #6e6e6e;
  border: 3px solid white;
  bottom: 0;
  right: 6px;
  position: absolute;
}

.online-circle4 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #07dd00;
  border: 3px solid white;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.offline-circle4 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #6e6e6e;
  border: 3px solid white;
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.account-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account-heading {
  font-size: 2.5rem;
}

#searchbar form {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50px;
  padding: 3px 15px;
  background-color: transparent;
  border: 1px solid  #e4e4e4;
  margin-right: 10px;
}

#searchbar form input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}

#searchbar form input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}

#searchbar form input::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
}

#searchbar form input::placeholder {
  color: #fff;
  font-size: 14px;
}

@media only screen and (max-width: 991px) {
  #searchbar form {
    border-radius: 0;
    margin: 12px 10px 10px 0px;
  }
}

#searchbar form input {
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent;
}

.search-btn {
  color: #fff;
  border: none;
  width: 25px;
  padding-left: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.829);
  outline: none;
  background-color: transparent;
}

.search-btn i {
  font-size: 16px;
}

.btnhrt i {
  font-size: 22px;
  color: red;
}

.btncmt i {
  font-size: 22px;
  color: #0054f1;
}

.btn {
  border-radius: 0px;
  padding: 8px 15px;
  font-size: 14px;
}

.btn-warning {
  background-color: #ffbb00;
  color: black;
}

.btn-danger {
  background-color: #ff1414;
  color: white;
}

.btnhrt {
  padding: 0;
}

.btncmt {
  padding: 0;
}

.btnsave {
  font-size: 24px;
  padding: 0;
  color: #ffd23c;
}

.btnsave:hover {
  color: #ffd23c;
  cursor: pointer;
}

.btnedit {
  font-size: 22px;
  padding: 0;
  color: #763cff;
}

.btndel {
  font-size: 22px;
  padding: 0;
  color: #ff4444;
}

.custom-txt {
  width: 100%;
}

.messages-box,
.chat-box {
  height: 58vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #d4d4d4;
}

.notify-badge {
  position: absolute;
  right: -10px;
  bottom: 3px;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 0.3px;
          box-shadow: 0px 0px 5px 0.3px;
  text-align: center;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  color: gray;
  padding: 5px 10px;
  font-size: 20px;
}

#club-name {
  font-size: 13px;
}

@media (max-width: 800px) {
  .messages-box {
    position: fixed;
  }
  .chat-box {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }
  .img-sm-device {
    display: none;
  }
}

@media (min-width: 800px) {
  .chat-box {
    width: 50vw !important;
  }
}

.df-header {
  background-color: turquoise;
  color: #f5f5f5;
}

.profile-container {
  width: 100vw;
  margin: 0;
  height: 100vh;
  position: fixed;
  background-position: center;
}

.roomListRoom {
  margin-bottom: 2.4rem;
  background-color: var(--color-dark);
  border-radius: 1rem;
  padding: 2rem;
}

.roomListRoom__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roomListRoom__author {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.roomListRoom__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.roomListRoom__actions span {
  font-size: 1.4rem;
  font-weight: 500;
}

.roomListRoom__actions svg {
  fill: var(--color-main);
  width: 1.6rem;
  height: 1.6rem;
}

.roomListRoom__content {
  margin: 1rem 0;
}

.roomListRoom__content a {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-light);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.roomListRoom__content a:hover {
  color: var(--color-main);
}

.roomListRoom__meta {
  border-top: 1px solid var(--color-dark-medium);
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.roomListRoom__joined {
  color: var(--color-light-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.roomListRoom__joined svg {
  fill: var(--color-main);
  width: 1.6rem;
  height: 1.6rem;
}

.roomListRoom__topic {
  padding: 5px 1.5rem;
  background-color: var(--color-dark-medium);
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.h1 {
  position: relative;
  margin-top: 20vh;
  font-family: "SFCompactText-Regular";
  font-size: 40px;
  font-weight: 400;
}

button {
  position: relative;
}

#profile-img {
  position: relative;
  margin-top: 40vh;
}

.profile-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sidebar-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 8px;
  background: ghostwhite;
  -webkit-box-shadow: #e5e5e5;
          box-shadow: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 5px;
  align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p-1 {
  padding: 5px !important;
}

.p-2 {
  padding: 15px !important;
}

.p-3 {
  padding: 25px !important;
}

.p-4 {
  padding: 35px !important;
}

.p-5 {
  padding: 45px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pl-2 {
  padding-left: 15px !important;
}

.pl-3 {
  padding-left: 25px !important;
}

.pl-4 {
  padding-left: 35px !important;
}

.pl-5 {
  padding-left: 45px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.pr-2 {
  padding-right: 15px !important;
}

.pr-3 {
  padding-right: 25px !important;
}

.pr-4 {
  padding-right: 35px !important;
}

.pr-5 {
  padding-right: 45px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pt-2 {
  padding-top: 15px !important;
}

.pt-3 {
  padding-top: 25px !important;
}

.pt-4 {
  padding-top: 35px !important;
}

.pt-5 {
  padding-top: 45px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.pb-2 {
  padding-bottom: 15px !important;
}

.pb-3 {
  padding-bottom: 25px !important;
}

.pb-4 {
  padding-bottom: 35px !important;
}

.pb-5 {
  padding-bottom: 45px !important;
}

.px-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.px-2 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.px-3 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.px-4 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.px-5 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.py-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.py-2 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.py-3 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.py-4 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.py-5 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.m-1 {
  margin: 5px !important;
}

.m-2 {
  margin: 10px !important;
}

.m-3 {
  margin: 15px !important;
}

.m-4 {
  margin: 25px !important;
}

.m-5 {
  margin: 35px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.ml-4 {
  margin-left: 25px !important;
}

.ml-5 {
  margin-left: 35px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mr-4 {
  margin-right: 25px !important;
}

.mr-5 {
  margin-right: 35px !important;
}

.mt-1 {
  margin-top: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mt-4 {
  margin-top: 25px !important;
}

.mt-5 {
  margin-top: 35px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.mb-4 {
  margin-bottom: 25px !important;
}

.mb-5 {
  margin-bottom: 35px !important;
}

.mx-1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mx-3 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mx-4 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.mx-5 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.my-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.my-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.my-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.my-4 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.my-5 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

body {
  background-color: gray;
  font-family: "Open Sans", sans-serif;
}

.wp-content {
  margin-top: 60px;
  margin-left: 75px;
}

/* Remove unde
a:hover {
  text-decoration: none;
}
/* Remove Bootstrap button outline */
button .focus, a .focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

button:focus, a:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

[data-component='navbar'] {
  /* Right Menu Dropdowns */
  /* Notification */
  /* Notification Dropdown */
}

[data-component='navbar'] .navbar {
  background-color: #fff;
}

[data-component='navbar'] .navbar-toggler {
  line-height: 2.4;
  margin-left: 75px;
}

[data-component='navbar'] .navbar-toggler span {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  display: none;
}

[data-component='navbar'] .navbar-toggler[aria-expanded="true"] {
  color: #009fff;
}

[data-component='navbar'] .navbar-toggler[aria-expanded="true"] span {
  display: initial;
  color: #009fff;
}

[data-component='navbar'] .navbar-toggler[aria-expanded="true"] i {
  color: #009fff;
}

[data-component='navbar'] .navbar-collapse {
  background-color: #292a2c;
  margin-left: 75px;
}

[data-component='navbar'] .navbar-nav {
  height: 100vw;
}

[data-component='navbar'] .collapsing {
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
}

[data-component='navbar'] .navbar-brand {
  background-color: #009fff;
  height: 60px;
  width: 75px;
  text-align: center;
}

[data-component='navbar'] ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

[data-component='navbar'] .right-links i {
  color: #000;
  font-size: 20px;
  line-height: 2.8;
}

[data-component='navbar'] .home {
  border-right: 1px solid #ababab;
}

[data-component='navbar'] .dropdown-toggle::after {
  display: none;
}

[data-component='navbar'] .dropdown-item {
  color: #292b2c;
  font-size: 0.75em;
}

[data-component='navbar'] .dropdown {
  position: relative;
}

[data-component='navbar'] .dropdown span {
  color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -8px;
  right: -3px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size: 0.625em;
  font-weight: 600;
}

[data-component='navbar'] .dropdown img {
  border-radius: 50%;
  height: 40px;
}

[data-component='navbar'] .list-group .lg {
  height: 500px;
  width: 270px;
  overflow: auto;
}

[data-component='navbar'] .list-group .list-group-item {
  border-radius: 0;
  letter-spacing: 0.5px;
}

[data-component='navbar'] .list-group h5 {
  font-size: 0.6875em;
  font-weight: 700;
  line-height: 2;
}

[data-component='navbar'] .list-group p {
  font-size: 0.5625em;
  font-weight: 400;
  line-height: 2;
}

[data-component='navbar'] .megamenu #menuOne, [data-component='navbar'] .megamenu #menuTwo, [data-component='navbar'] .megamenu #menuThree {
  position: absolute;
  width: 100%;
  z-index: 1;
}

[data-component='navbar'] .megamenu .megamenu-links {
  background-color: #EEEEEE;
  height: 100vh;
  overflow: hidden;
}

[data-component='navbar'] .megamenu .btn {
  font-size: 0.875em;
  font-weight: 400;
  letter-spacing: 0.5px;
}

[data-component='navbar'] .megamenu .btn:hover {
  background-color: #292a2c;
  color: #fff;
}

[data-component='navbar'] .megamenu a[aria-expanded=true] .fa-plus {
  display: none;
}

[data-component='navbar'] .megamenu a[aria-expanded=false] .fa-minus {
  display: none;
}

[data-component='navbar'] .megamenu [aria-expanded="true"] {
  background-color: #292a2c;
  color: #fff;
}

[data-component='navbar'] .megamenu [aria-expanded="true"] i {
  color: #fff;
  font-size: 1.25em;
}

[data-component='navbar'] .megamenu [aria-expanded="false"] {
  background-color: #eee;
  color: #292a2c;
  border-radius: 0;
}

[data-component='navbar'] .megamenu [aria-expanded="false"] i {
  color: #009fff;
  font-size: 1.25em;
}

[data-component='navbar'] .megamenu .list-group {
  height: 100vw;
  background-color: #292a2c;
}

[data-component='navbar'] .megamenu .list-group-item {
  border-radius: 0;
  background-color: #292a2c;
  font-size: 0.75em;
  color: #fff;
}

[data-component='navbar'] .megamenu .list-group-item:hover {
  background-color: #009fff;
}

[data-component='sidebar'] .sidebar {
  position: fixed;
  z-index: 9999;
}

[data-component='sidebar'] .first-menu {
  position: fixed;
  background-color: #292a2c;
  height: 100vw;
  width: 75px;
  top: 60px;
  overflow: hidden;
  -webkit-transition: width .5s;
  transition: width .5s;
}

[data-component='sidebar'] .first-menu a {
  color: #fff;
}

[data-component='sidebar'] .first-menu i {
  font-size: 24px;
}

[data-component='sidebar'] .first-menu span {
  font-size: 14px;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  visibility: hidden;
}

[data-component='sidebar'] .first-menu:hover span {
  opacity: 1;
  visibility: visible;
}

[data-component='sidebar'] .first-menu .list-group-item {
  border-radius: 0;
}

[data-component='sidebar'] .first-menu .list-group-item:hover {
  background-color: #009fff;
}

[data-component='sidebar'] .first-menu:hover {
  width: 160px;
}

[data-component='sidebar'] .list-group-item {
  font-size: 14px;
}

[data-component='sidebar'] .submenu {
  position: fixed;
  left: 160px;
  width: 195px;
  top: 60px;
  background-color: #009fff;
  height: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 600ms opacity 600ms, 600ms visibility 600ms;
  transition: 600ms opacity 600ms, 600ms visibility 600ms;
}

[data-component='sidebar'] .submenu .list-group-item {
  margin-top: 8px;
}

[data-component='sidebar'] .first-menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

[data-component='sidebar'] .sub-submenu {
  position: fixed;
  background-color: #fff;
  left: 355px;
  top: 60px;
  height: 100vw;
  width: 195px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 600ms opacity 600ms, 600ms visibility 600ms;
  transition: 600ms opacity 600ms, 600ms visibility 600ms;
}

[data-component='sidebar'] .sub-submenu a {
  color: #009fff;
}

[data-component='sidebar'] .sub-submenu .list-group-item:hover {
  background-color: transparent;
}

[data-component='sidebar'] .submenu li:hover .sub-submenu {
  visibility: visible;
  opacity: 1;
}

[data-component='sidebar'] .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

[data-component='sidebar'] .arrow {
  position: fixed;
  left: 329px;
  width: 0;
  height: 0;
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-right: 27px solid white;
}

[data-component='sidebar'] .arrow:nth-child(3) {
  top: 20px;
}

.btn-sidebar-brand {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.ia-brand {
  position: absolute;
  font-family: "Bookman Old Style";
  font-weight: 300;
  line-height: 42.5px;
  letter-spacing: -0.7px;
}
/*# sourceMappingURL=main.css.map */