{% extends "blog/base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-6">
<h1 class="bg-secondary btn-lg rounded-pill text-center text-white w-25">Intelligent Africa</h1><br>
<p style="font-size: 2.5rem;" class="pt-2" >
  Intelligent Africa is a company that focuses in online education and development of skills. We are based in Harare.
we have got the solutions, professional training and development programs. We are based in Harare, Zimbabwe.
</p>
</div>
<div class="col-md-6">
  <h1 class="bg-secondary btn-lg rounded-pill text-center text-white w-25"> Our Aim</h1><br>
<p style="font-size: 2.5rem;" class="pt-2" >
  Providing the educational skills that enhances the learning process 
  and provides insights on the world as a whole.Promoting a united global community which promotes the
  the sharing mentality within the community and also out. 
</p>
</div>
<div class="  col-md-6">
<h1 class="bg-secondary btn-lg rounded-pill text-center text-white w-25"> Contact Us </h1><br>
 <a href="https://www.youtube.com/channel/UC-pwvtHlVI60m8MwemXMGXg"><i class="fa-brands fa-youtube fa-5x"></i></a>
 <a href="https://wa.me/+263718033235"><i class="fa-brands fa-whatsapp fa-5x"></i></a>
 <a href="https://instagram/intelligent.africa"><i class="fa-brands fa-instagram fa-5x"></i></a>
</div>
{% endblock%}

{% block script %}
<script>
  
  var colors = ['#FB9797', '#FB84BD', '#EA84FB', '#FF6D3F', '#4270E7', 'green', 'blue'];
  $('.add-border').each(function () {
    $(this).css('border-top', "3px solid " + colors[Math.floor(Math.random() * colors.length)]);
  });
  
</script>
{% endblock %}