{% extends "blog/base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<h1>About Us</h1>
<p class="d-inline">
  <em>In no event shall Intelligent Africa  be held liable for any direct , indirect,incidental,special,exmplary or consequential(including but not limited to procurement of substitutes of goods or services , loss of use , misuse of product  ) </em>
</p>
{% endblock%}

{% block script %}
<script>

  var colors = ['#FB9797', '#FB84BD', '#EA84FB', '#FF6D3F', '#4270E7', 'green', 'blue'];
  $('.add-border').each(function () {
    $(this).css('border-top', "3px solid " + colors[Math.floor(Math.random() * colors.length)]);
  });

</script>
{% endblock %}