{% load humanize %}
<style>
    .nav_cont {
        position: fixed;
        overflow-y: scroll;
        top:0;
        height: 75vh;
        z-index: 100;
        background-color: ghostwhite;
        overflow:hidden;
        transition:width .3s ease;
        cursor:pointer;
        box-shadow:4px 7px 10px rgba(0,0,0,.4);
        color: rgb(235, 115, 189);
        border: none;
        right: 0;
        
    }
    
    
    @media screen and (min-width: 600px) {
        .nav_cont{
            width: 80px;
        }
    }
    
    .nav {
        list-style-type: none;
        color: rgb(235, 115, 189);
        
    }
    
    .nav:first-child {
        padding-top:1.5rem;
    }
    
    
    
    
    .nav__items:hover a:after {
        opacity:1;
    }
    
    
    
    body {
        height: 100vh;
    }
    
    
    
    img{
        height: 20px;
        width: 20px;
    }
    
    
</style>


<nav class="nav_cont " style="width: 300px;">
    <ul class="nav navbar-collapse ">
        <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <i class="fas fa-bars"></i>
    </button> 
    <h3></h3>
    <hr>
    <br>
    {% if not comments %}
    No Comments Yet...
    {% else %}
    
    {% for comment in comments %}
    <div class="card w-100 justify-content-between mb-2 nav-item">
        <div class="card-body ps-md-2 mb-2 nav-item"> 
            <img class="rounded-circle article-img " src="{{comment.name.profile.image.url}}" alt="image">
            <span class="card-title h4"><a href="{% url 'profile-detail-view' comment.name.pk %}" >{{comment.name}}</a></span>
            <span class="card-title h4"><a href="" >{{comment.body}}</a></span>
            <span class="text-muted float-right small">{{comment.date_added}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <form class="comment-form position-fixed nav-item" method="post" action=".">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class=" mb-4">Add Comment</legend>
            <textarea required style="width: 100%;" name="body" id="cmtbody" cols="40" rows="1"></textarea>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" id="acsubmit" type="submit">Add Comment</button>
        </div>
    </form>
    {% endif %}       
</ul>
</nav>

