{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Intelligentafrica {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<style>
  
  .content {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
  }
  
  .videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .author-img{
    height: 20px;
    width:20px ;
  }
  
  .video {
    width: 270px;
    margin-bottom: 30px;
  }
  
  .thumbnail img{
    object-fit: cover;
    min-height: 200px;
    max-height: 200px;
 
  }
  
  .title{
    font-size: 8px;
  }
  
  a{
    text-decoration: none;
  }
</style>

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/curved-images/curved.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Intelligentafrica</h1>
          <p class="lead text-white mt-3"> Learn anything. Anytime. Anywhere <br/> Boost Your skill with study. </p>
        </div>
      </div>
    </div>
    
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>


<div class="videos row">
  {% for post in posts %}
  {% if  post.link %}
  <div class="video my-2">
    <div class="thumbnail">
      <img src="{{post.thumbnails.url}}"  class="img-thumbnail"   alt="author_profile" /> 
    </div>
    
    <div class="details">
      <div class="author">
        {% if post.author.image %}
        <img src="{{post.author.image.url}}" class="author-img rounded-circle"  alt="author_profile" />
        {% else %}
        <img src="{% static 'img/avatar-1.jpg' %}" class="author-img rounded-circle" alt="author_profile" />
        {% endif %} &nbsp;{{post.author.username}}
        
      </div>
      <div class="title">
        <h3>
          <a href="{% url 'post-detail' post.id %}">{{post.title|truncatechars:"12"}}
          </h3>
          <a href="">
            {{post.author.location}}
          </a>
          <span> {{post.date_posted}} </span></a>
        </div>
      </div>
      
    </div>
    {% else %}
    <div class="video my-2">
      <div class="thumbnail">
        <img src="{{post.thumbnails.url}}" class="img-thumbnail"   alt="author_profile" /> 
      </div>
      
      <div class="details">
        <div class="author">
          {% if post.author.image %}
          <img src="{{post.author.image.url}}" class="author-img rounded-circle"  alt="author_profile" />
          {% else %}
          <img src="{% static 'img/avatar-1.jpg' %}" class="author-img rounded-circle" alt="author_profile" />
          {% endif %} &nbsp;{{post.author.username}}
          
        </div>
        <div class="title">
          <h3>
            <a href="{% url 'post-detail' post.id %}">{{post.title|truncatechars:"15"}}
            </h3>
            <a href="">
              {{post.author.location}}
            </a>
            <span> {{post.date_posted}} </span>
            <span class="text-wrap"> {{post.description|truncatechars:"20"}} </span>
          </a>
          </div>
        </div>
        
      </div>
      {% endif %}
      {% endfor %}
      <!-- a video Ends -->
    </div>

    
    {% endblock content %}
    
    {% block javascripts %}
    
    <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
    <script src="{% static 'js/plugins/countup.min.js' %}"></script>
    <script src="{% static 'js/plugins/choices.min.js' %}"></script>
    <script src="{% static 'js/plugins/prism.min.js' %}"></script>
    <script src="{% static 'js/plugins/highlight.min.js' %}"></script>
    <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
    <script src="{% static 'js/plugins/rellax.min.js' %}"></script>
    <!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
    <script src="{% static 'js/plugins/tilt.min.js' %}"></script>
    <!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
    <script src="{% static 'js/plugins/choices.min.js' %}"></script>
    
    
    <script type="text/javascript">
      
      if (document.getElementById('state1')) {
        const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
        if (!countUp.error) {
          countUp.start();
        } else {
          console.error(countUp.error);
        }
      }
      if (document.getElementById('state2')) {
        const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
        if (!countUp1.error) {
          countUp1.start();
        } else {
          console.error(countUp1.error);
        }
      }
      if (document.getElementById('state3')) {
        const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
        if (!countUp2.error) {
          countUp2.start();
        } else {
          console.error(countUp2.error);
        };
      }
    </script>
    
    {% endblock javascripts %}
    
