{% extends "blog/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<style>
  .bg-cards {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  #explorecaption {
    position: absolute;
    left: 323px;
    top: -152px;
    width: 643px;
    height: 88px;
    color: #ffffff;
    font-family: "SFPro-Semibold";
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  
  #container{
    padding: 4rem;
    width: 100vw;
    background-attachment: fixed;
    background: darkturquoise;
    margin: 0;
    margin-left: 0;
  }
  @media screen and (max-width: 650px) {
    form,input{
      display:block;
    }
    
    
    
  }
  #get{
    position: absolute;
    left: 323px;
    top: -152px;
    width: 643px;
    height: 88px;
    color: #e5e5e5;
    font-family: "SFPro-Bold";
    font-size: 5rem;
    font-weight: 400;
    line-height: 22px;
  }
  #img{
    background-image: url("{% static 'blog/images/student.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

 
.fill img {
   object-fit: cover;
   min-height: 146px;
   max-height: 146px;
   min-width: 170px;
   max-width: 170px;
}
  #scroller{
    background: transparent;
  }
  a{
    cursor: pointer;
  }
  
  
</style>

<div id="container"  class="row  mx-0">
  <div class="col-6">
    <p id="explorecaption" class="text-muted"><h6>Explore your favourite Books</h6></p>
    <p id="get" class="text-dark col-3"><h2>Get the <i id="b">B</i>ook <br> that suits your needs!!</h2></p>
    <form action="/search"  method="GET" class="header__search">
      <label>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>search</title>
          <path
          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
        </path>
      </svg>
      <input name="query" placeholder="Search for posts" />
    </label>
  </form>
</div>
<div id="img" class="col-6">
</div>
</div>

<div id="scroller"  class="nav-scroller  mt-4 m-0">
  <nav class="nav">
    <a style="border-radius: 20px;" class="navigator text-muted  nav-link nav-item" locator="Math">Maths</a>
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="frs">F R S</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="english">english</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="shona">shona</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="technology">technology</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="bs">B studies</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="geography">geo</a>
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="physics">physics</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="chemistry">chemistry</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="biology">biology</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="economics">economics</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="economics">economics</a>         
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="combinedsci">combined science</a>
    <a style="border-radius: 20px;" class="text-muted nav-link nav-item" locator="accounts">accounts</a>         

  </nav>  
</div>

{% for post in posts %}

                
                     
<div  class="mathematics col-md-4 col-lg-3 ">
  <p  class="fill img-fluid col-sm">
   <img src="{{post.thumbnails.url}}" >
  </p>
  <p class="ml-4">
    {{post.title}} <br>
    {{post.description}} <br>
    The book is written by {{post.writer}} <br> and its published by {{post.publisher}}

  </p>
  </div>
  
{% endfor %}
{% endblock %}
{% block script %}
<script>
                            
       // Navigator
           $('.navigator a').click(function() {
           let location = $(this).attr('locator');
                 });
                            
       var colors = ['#FB9797', '#FB84BD', '#EA84FB', '#FF6D3F', '#4270E7', 'green', 'blue'];
     $('.add-border').each(function () {
     $(this).css('border-top', "3px solid " + colors[Math.floor(Math.random() * colors.length)]);
                            });
                            
</script>
  {% endblock %}