{% extends "blog/base.html" %}

{% block title %}Post{% endblock %}

{% block content %}


        {% if post.document %}
        <embed  src="{{post.document.url}}#toolbar=0" class="col-lg-8 col-sm-12 col-md-8" height="1080px" style="position:fixed;" />
        {% endif %}
        
        
        {% if post.video %}
        <div class="col-lg-2">
            <video src="{{post.video.url}}" height="480px" width="720px"></video>
        </div>
        
        {% endif %}

{% endblock %}

{% block script %}
<script>
    $(document).bind("contextmenu",function(e){
        return false;
    });
</script>
{% endblock%}