{% extends "blog/base.html" %}

{% block title %}Profies{% endblock %}

{% block content %}


<!-- SIDEBAR -->

<div class="col-md-4">
    <div class="content-section">
        <h3>Find friends and people to follow</h3>
        {% for profile in profiles %}
        <div class="col float-center">
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <p class="float-center text-center ">{{profile.user}}
                    {% if profile.is_online %}
                        online
                        {% else %}
                        Offline
                        {% endif %}
                    </p>
                    <div class="row"> 
                        <div class=" col mr-0">
                            <div>
                                <div class="col">
                                    friends
                                </div>
                                <div class="col">{{profile.friends.count}}</div>
                            </div>
                        </div>
                        
                        <div class=" col">
                            <div>
                                <div class="col">
                                    Followers
                                </div>
                                <div class="ml-0 col">{{profile.following.count}}</div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-outline-info rounded-pill float-right" href="{% url 'profile-detail-view' profile.pk %}">see profile</a>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}