{% load static %}
{% block title %}User profile{% endblock %}

{% block content %}

<div class="d-flex flex-column">
	<div class="col-md-8 m-auto">
		<div  class="row  d-flex ">
			<div>
				<div class="container mx-3 py-5 h-100">
					<div id="sidebar-chat"  class="row d-flex justify-content-start align-items-center h-100">
						<div class="col col-md-9 col-lg-7 col-xl-5">
							<div class="" style="border-radius: 15px;">
								<div class="card-body p-4">
									<div class="d-flex text-black">
										<div class="flex-grow-1 ms-3">
											<h5 class="mb-1">{{ object.user.get_full_name }}</h5>
											<p class="mb-2 pb-1" style="color: #2b2a2a;">{{ object.user.>
												<p class="card-text ms-1 text-muted">{{object.user.email}}</>
													<p class="card-text ms-1 text-muted">{{object.user.profile.b>
														<div class="d-flex justify-content-start rounded-3 p-2 mb-2"
														style="background-color: #efefef;">
														<div>
															<p class="small text-muted mb-1">Posts</p>
															<p class="mb-0">{{ object.user.profile.profile_posts>
															</div>
															<div class="px-3">
																<p class="small text-muted mb-1">Following</p>
																<p class="mb-0">{{ object.user.profile.following.cou>
																</div>
																<div>
																	<p class="small text-muted mb-1">Followers</p>
																	<p class="mb-0">{{ object.user.following.count }}</p>
																</div>
																<div class="px-3">
																	<p class="small text-muted mb-1 ">Friends</p>
																	<p class="mb-0" href="{% url 'friend:list' object.us>
																	</div>
																</div>
																<div class="ms-3">
																	{% if object.user != user %}
																	{% if follow %}
																	<form action="{% url 'follow-unfollow-view' %}" meth>
																		{% csrf_token %}
																		<input type="hidden" name="profile_pk" value>
																		<button type="submit" class="btn btn-danger >
																		</form>
																		{% else %}
																		<form action="{% url 'follow-unfollow-view' %}" meth>
																			{% csrf_token %}
																			<input type="hidden" name="profile_pk" value>
																			<button type="submit" class="btn btn-primary>
																			</form>
																			{% endif %}
																			{% endif %}
																			<!-- THEM to YOU -->
																			{% if request_sent == 0 %}
																			<div class="card m-2 ">
																				<div class="flex text-center align-items-cen>
																					<p class="align-items-center mr-2 h5>
																						<span id="id_cancel_{{object.user.id>
																							<span id="id_confirm_{{object.user.i>
																							</div>
																						</div>
																						{% endif %}
																						
																						<!-- Cancel Friend Request / Send Friend Request / R>
																							{% if is_friend == False and is_self == False %}
																							<!-- You sent them a request -->
																							{% if request_sent == 1 %}
																							<div class="d-flex flex-column align-items-center pt>
																								<button class="btn btn-danger w-100" id="id_>
																									Cancel Friend Request
																									<button class="btn btn-danger w-100" id="id_>
																										Cancel Friend Request
																									</button>
																								</div>
																								{% endif %}
																								<!-- No requests have been sent -->
																								{% if request_sent == -1 %}
																								<div class="d-flex flex-column align-items-center pt>
																									<button class="btn btn-primary w-100" id="id>
																										Send Friend Request
																									</button>
																								</div>
																								{% endif %}
																								{% endif %}
																								
																								{% if is_friend %}
																								<div class="dropdown pt-4 m-auto">
																									<button class="btn btn-success dropdown-togg>
																										Friends
																									</button>
																									<div class="dropdown-menu" aria-labelledby=">
																										<a class="dropdown-item" href="#" on>
																										</div>
																									</div>
																									{% endif %}
																									
																									{% if friend_requests %}
																									<div class="card m-2 px-4 pb-4">
																										<!-- Friend requests -->
																										<div class="d-flex flex-column pt-4">
																											<a href="{% url 'friend:friend-reque>
																												<div class="d-flex flex-row >
																													<span class="friend->
																													</div>
																												</a>
																											</div>
																										</div>
																										{% endif %}
																										
																									</div>
																									<div>
																										
																										{% if is_friend %}
																										<a class="align-items-center btn btn-primary mt-4 d->
																											<i class="fas fa-comments"></i>&nbsp;&nbsp;M>
																										</a>
																										{% endif %}
																									</div>
																								</div>
																								
																							</div>
																						</div>
																					</div>
																				</div>
																				
																			</div>
																		</div>
																	</div>
																	
																	<div class="justify-content-center">
																		
																		
																		
																	</div>
																	
																	
																	
																	<style type="text/css">
																		
																		.social-links li a {
																			border-radius: 50%;
																			color: rgba(255, 255, 255);
																			display: inline-block;
																			height: 40px;
																			line-height: 35px;
																			border: 2px solid transparent;
																			text-align: center;
																			width: 40px;
																			font-size: 14px;
																		}
																	</button>
																</div>
																{% endif %}
																<!-- No requests have been sent -->
																{% if request_sent == -1 %}
																<div class="d-flex flex-column align-items-center pt>
																	
																	
																	
																	.profile-image{
																		max-height: 100px;
																		max-width: 100px;
																	}
																	.profile-image{
																		border-radius: 12px;
																	}
																	.card{
																		border-radius: 12px;
																	}
																	
																	.profile-link{
																		color: #000;
																	}
																	.material-icons{
																		font-size: 30px;
																	}
																	.material-icons:hover{
																		cursor: pointer;
																	}
																	.confirm-friend-request{
																		color: green;
																	}
																	.confirm-friend-request:hover {
																		opacity: 0.3;
																	}
																	.decline-friend-request:hover {
																		opacity: 0.3;
																	}
																	.decline-friend-request{
																		color: red;
																	}
																</style>
																
																
																
																<br>
																
															</div>
															
															
															
															
															<script type="text/javascript">
																
																function onFriendRequestSent(){
																	location.reload();
																}
																
																function onFriendRequestCancelled(){
																	location.reload();
																}
																
																function onFriendRemoved(){
																	location.reload();
																}
																
																function onFriendRequestAccepted(){
																	location.reload();
																}
																
																function onFriendRequestDeclined(){
																	location.reload();
																}
																
																
																var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
																if (sendFriendRequestBtn != null){
																	sendFriendRequestBtn.addEventListener("click", function(){
																		sendFriendRequest("{{object.user.id}}", onFriendRequestSent)
																	})
																}
																
																var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
																if(cancelFriendRequestBtn != null){
																	cancelFriendRequestBtn.addEventListener("click", function(){
																		cancelFriendRequest("{{object.user.id}}", onFriendRequestCancelled)
																	})
																}
																
																var removeFriendBtn = document.getElementById("id_unfriend_btn")
																if (removeFriendBtn != null){
																	removeFriendBtn.addEventListener("click", function(){
																		removeFriend("{{object.user.id}}", onFriendRemoved)
																	})
																}
																
																function triggerAcceptFriendRequest(friend_request_id){
																	acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
																}
																
																function triggerDeclineFriendRequest(friend_request_id){
																	declineFriendRequest(friend_request_id, onFriendRequestDeclined)
																}
																
															</script>
															
															