{% extends 'blog/base.html' %}
{% load static %}

{% block title %}  {% endblock title %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}
<style>
	#profile-cont{
		align-items: center;
		justify-content: center;
		justify-items: center;
	}
	.btn{
		margin-left: 3px;
		margin-right: 3px;
	}
	
</style>



{% endblock header %}


{% block content %}

<div class="col">
	{% include 'includes/sidebar.html' %}
</div>

<section style="background-color: #eee;">
	<div class="container py-5">
		<div class="row">
			<div class="col">
				<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">User</a></li>
						<li class="breadcrumb-item active" aria-current="page">User Profile</li>
					</ol>
				</nav>
			</div>
		</div>
		
		
		<div class="row">
			
			<div class="col-lg-4">
				<div class="card mb-4">
					<div class="card-body text-center">
						<img src="{{user.profile.image.url}}" alt="avatar"
						class="rounded-circle img-fluid" style="width: 150px;">
						<h5 class="my-3">{{request.user.get_full_name}}</h5>
						<p class="text-muted mb-1">{{user.username}} </p>
						<p class="text-muted mb-4">{{user.profile.bio}}</p>
						
						{% if is_friend %}
						<a class="align-items-center btn btn-primary d-flex flex-column" href="{% url 'room-choice' object.user.id %}">
							<i class="fas fa-comments"></i>&nbsp;Message
						</a>
						{% endif %}
						
						<div class="d-flex justify-content-center mb-2 flex-wrap">
							
							{% if object.user != user %}
							{% if follow %}
							<form action="{% url 'follow-unfollow-view' %}" method='POST'>
								{% csrf_token %}
								<input type="hidden" name="profile_pk" value={{object.pk}}>
								<button type="submit" class="btn btn-danger mb-2  w-100">Unfollow</button>
							</form>
							{% else %}
							<form action="{% url 'follow-unfollow-view' %}" method='POST'>
								{% csrf_token %}
								<input type="hidden" name="profile_pk" value={{object.pk}}>
								<button type="submit" class="btn btn-primary mb-2 w-100">Follow</button>
							</form>
							{% endif %}
							{% endif %}
							
							<!-- THEM to YOU -->
							{% if request_sent == 0 %}
							<div class="card m-2 ">
								<div class="flex text-center align-items-center">
									<p class="align-items-center mr-2 h5 text-muted">Accept Friend Request</p>
									<span id="id_cancel_{{object.user.id}}" class="decline-friend-request material-icons p-1 m-1" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'><i class="fas fa-times-circle"></i></span>
									<span id="id_confirm_{{object.user.id}}" class="confirm-friend-request material-icons p-1 m-1" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'><i class="fas fa-check-circle"></i></span>
								</div>
							</div>
							{% endif %}
							
							<!-- Cancel Friend Request / Send Friend Request / Remove Friend -->
							{% if is_friend == False and is_self == False %}
							<!-- You sent them a request -->
							{% if request_sent == 1 %}
							<div class="d-flex flex-column align-items-center">
								<button class="btn btn-primary " id="id_cancel_friend_request_btn">
									Cancel Friend Request
								</button>
							</div>
							{% endif %}
							<!-- No requests have been sent -->
							{% if request_sent == -1 %}
							<div class="d-flex flex-column align-items-center ">
								<button class="btn btn-primary w-100" id="id_send_friend_request_btn">
									Send Friend Request
								</button>
							</div>
							{% endif %}
							{% endif %}
							
							{% if is_friend %}
							<div class="dropdown mx-2">
								<button class="btn btn-primary dropdown-toggle friends-btn " type="button" id="id_friends_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Friends
								</button>
								<div class="dropdown-menu" aria-labelledby="id_friends_toggle">
									<a class="dropdown-item" href="#" onclick="removeFriend('{{object.user.id}}', onFriendRemoved)">Unfriend</a>
								</div>
							</div>
							{% endif %}
							
							{% if friend_requests %}
							<div class="card m-2 px-4 pb-4">
								<!-- Friend requests -->
								<div class="d-flex flex-column ">
									<a href="{% url 'friend:friend-requests' user_id=object.user.id %}">
										<div class="d-flex flex-row align-items-center justify-content-center icon-container">
											<span class="friend-text">Friend Requests ({{friend_requests|length}})</span>
										</div>
									</a>
								</div>
							</div>
							
							{% endif %}
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Full Name</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{request.user.get_full_name}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Email</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{user.email}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Date joined</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{user.date_joined}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Date of birth</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{user.profile.date_of_birth}}</p>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Is_facilitator</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{user.is_staff}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					{% include 'blog/user_posts.html' %}
				</div>
			</div>
		</div>
	</div>
</section>





<style type="text/css">
	
	.social-links li a {
		border-radius: 50%;
		color: rgba(255, 255, 255);
		display: inline-block;
		height: 40px;
		line-height: 35px;
		border: 2px solid transparent;
		text-align: center;
		width: 40px;
		font-size: 14px;
	}
	
	
	
	.profile-image{
		max-height: 100px;
		max-width: 100px;
	}
	.profile-image{
		border-radius: 12px;
	}
	.card{
		border-radius: 12px;
	}
	
	.profile-link{
		color: #000;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}
</style>

<div>
	
</div>

<br>

</div>







<script type="text/javascript">
	
	function onFriendRequestSent(){
		location.reload();
	}
	
	function onFriendRequestCancelled(){
		location.reload();
	}
	
	function onFriendRemoved(){
		location.reload();
	}
	
	function onFriendRequestAccepted(){
		location.reload();
	}
	
	function onFriendRequestDeclined(){
		location.reload();
	}
	
	
	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{object.user.id}}", onFriendRequestSent)
		})
	}
	
	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			cancelFriendRequest("{{object.user.id}}", onFriendRequestCancelled)
		})
	}
	
	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{object.user.id}}", onFriendRemoved)
		})
	}
	
	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}
	
	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}
	
</script>

{% include 'friend/snippets/send_friend_request.html' %}
{% include 'friend/snippets/accept_friend_request.html' %}
{% include 'friend/snippets/decline_friend_request.html' %}
{% include 'friend/snippets/cancel_friend_request.html' %}
{% include 'friend/snippets/remove_friend.html' %}


{% endblock %}

{% block script %}

<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) 
		var mcontents = button.data('contents') 
		var mtitle = button.data('title') 
		
		var modal = $(this)
		var mlist = ""
		var mbody = ""
		
		if (mtitle === "Followers") {
			mtitle = mtitle + ' ({{object.user.following.count}})'
			{% for fs in object.user.following.all %}
			mlist += `<li class="m-1">
				<a href="{% url 'profile-detail-view' pk=fs.pk %}">
					{{fs.user}}
				</a>
			</li>`
			{% endfor %}
			mbody = `<ul>${mlist}</ul>`
		}
		if (mtitle === "Following") {
			mtitle = mtitle + ' ({{object.user.profile.following.count}})'
			{% for fs in object.user.profile.following.all %}
			mlist += `<li class="m-1">
				<a href="{% url 'profile-detail-view' pk=fs.pk %}">
					{{fs.user}}
				</a>
			</li>`
			{% endfor %}
			mbody = `<ul>${mlist}</ul>`
		}
		modal.find('.modal-title').text(mtitle)
		modal.find('.modal-body').html(mbody)
	});
</script>


{% endblock %}